* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {}

.main {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.flex {
    display: flex;
    width: 100%;
    height: 14.29%;
    background-color: blue;




}

.black {
    background-color: rgb(255, 255, 255);
    width: 10%;
    height: 100%;
}

.white {
    background-color: rgb(0, 0, 0);
    width:10% ;
    height: 100%;
}